Investigate the block counter size

[Properly handle 32-bit vs 64-bit block counter](https://github.com/kitsook/ChaCha20/blob/master/ChaCha20/src/net/clarenceho/util/ChaCha20.java#L125).

Quote from [IETF draft](https://tools.ietf.org/html/draft-irtf-cfrg-chacha20-poly1305-01):

>    Note also that the original ChaCha had a 64-bit nonce and 64-bit
>    block count.  We have modified this here to be more consistent with
>    recommendations in section 3.2 of [RFC5116].  This limits the use of
>    a single (key,nonce) combination to 2^32 blocks, or 256 GB, but that
>    is enough for most uses.  In cases where a single key is used by
>    multiple senders, it is important to make sure that they don't use
>    the same nonces.  This can be assured by partitioning the nonce space
>    so that the first 32 bits are unique per sender, while the other 64
>    bits come from a counter.
